<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TimeCenter Test Suite" parallel="classes" thread-count="3">

    <test name="Home Page Functional Tests">
        <classes>
            <class name="test.HomePageBasicTests">
                <methods>
                    <include name="clickWatchCatalogBtn"/>
                    <include name="clickCatalogPage"/>
                    <include name="clickMenPage"/>
                    <include name="clickWomenPage"/>
                    <include name="clickBestSellersPage"/>
                    <include name="clickContactPage"/>
                    <include name="clickHomeLnk"/>
                    <include name="clickExploreBtn"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Search Field Tests">
        <classes>
            <class name="test.SearchFieldTests">
                <methods>
                    <include name="invalidSearchTest"/>
                    <include name="validSearchTest"/>
                    <include name="emptySearchTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Add To Cart Tests">
        <classes>
            <class name="test.AddToCartTests">
                <methods>
                    <include name="addSingleProduct"/>
                    <include name="addSingleProductDirect"/>
                    <include name="increaseProductQuantityInCart"/>
                    <include name="decreaseProductQuantityInCart"/>
                    <include name="deleteProductInCart"/>
                    <include name="continueShoppingAfterAddingProduct"/>
                    <include name="verifyProductDetailsAfterAddToCart"/>
                    <include name="verifyCartCountRemainsSameAfterRefresh"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Checkout Test">
        <classes>
            <class name="test.CheckOutTests">
                <methods>
                    <include name="completeCheckout"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
